@import url("https://fonts.googleapis.com/css2?family=Martel&family=Montserrat:wght@500&family=Roboto:wght@300&display=swap");
/* font-family: 'Martel', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
}

p,
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Martel", serif;
  font-size: 21px;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3 {
  margin-bottom: 0px;
  text-align: center;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

/* Header */

.logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

header {
  background-color: #30638e;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 1;
  height: 50px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px 0px 5px 10px;
}

.header-logo img {
  width: 30px;
}

#activehead {
  text-decoration: underline;
  color: white;
}

/* Header end */

/* Footer start */

.fmenu {
  grid-area: menu;
}
.fcontact {
  grid-area: contact;
}
#copyright {
  grid-area: copyright;
}

.footergrid {
  display: grid;
  grid-template-areas:
    "menu menu contact contact"
    "menu menu contact contact"
    "copyright copyright copyright copyright";
  color: black;
}

.fmenu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10%;
  padding-top: 10px;
}

.fmenu a {
  text-decoration: underline;
  color: black;
}

.footergrid p {
  padding: 5px 0;
}

.fcontact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 20%;
  padding-top: 10px;
}

#copyright {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

#line {
  display: none;
}

hr {
  width: 95%;
  margin: 20px auto 10px auto;
  color: lightgrey;
}

/* Footer end */

/* Menu */

.navbar-head {
  display: none;
}

.navbar {
  position: relative;
  top: -1000px;
  transition: 0.3s;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 0;
  background-color: #30638e;
}

.navbar li {
  text-align: center;
  width: 100%;
}

.navbar a {
  display: block;
  color: white;
  padding: 15px 0px;
}

#active {
  background-color: #00798c;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger img {
  width: 30px;
  cursor: pointer;
}

.slidein {
  position: relative;
  top: 0px;
  height: auto;
}

/* end Menu */

/* Common */

.cards,
.blocks,
.rev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 30px 30px;
  width: unset;
}

.rev {
  flex-direction: column-reverse;
  padding: 0;
}

.hero p {
  margin-top: 30px;
}

.btn {
  display: none;
}

.images img,
.pics img {
  width: 100%;
  margin-top: 30px;
}

.images,
.pics,
.exbox {
  display: flex;
  flex-direction: column;
  width: 83%;
  justify-content: center;
  align-items: center;
}

.blocks-exhibit {
  padding-bottom: 30px;
}

.indexbox {
  display: flex;
  flex-direction: column;
  width: 83%;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.cards p,
.blocks p,
.blocks-exhibit p {
  margin: 30px 0 0 0;
}

.dark {
  background-color: #365b73;
  /* background-color: #264653; */
  color: white;
}

.exhibitions {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  width: 83%;
  align-items: center;
}

.hero-explore p,
.hero-exhibit p {
  margin-top: 30px;
}

.hero-exhibit,
.hero-involved,
.hero-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#science,
#mammoth,
#space {
  width: 100%;
  margin: 30px 0;
}

#news {
  background-color: #365b73;
  color: white;
}

#exhibit {
  display: none;
}

/* Common end */

/* Visit */

.hero-visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.sitemap {
  display: flex;
  justify-content: space-around;
}

.sitemap a {
  color: #000;
}

.sitemap li {
  text-decoration: underline;
  list-style: none;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
}

.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.drink {
  background-color: #365b73;
  /* background-color: #264653; */
  color: white;
}

.visit p {
  padding-top: 30px;
  max-width: 500px;
}

.visit h3 {
  width: 100%;
  padding: 0;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 250px;
  width: 300px;
  padding-top: 30px;
}

iframe {
  border: none;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  height: 250px;
  width: 300px;
}

/* Visit end */

/* Media querys */

@media (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    background-image: url(/optimalisert/Hero/museum-of-science.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-explore {
    display: flex;
    align-items: center;
    background-image: url(/optimalisert/Hero/library-1132573_1920nummer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-exhibit {
    display: flex;
    align-items: center;
    background-image: url(/optimalisert/Hero/exhibition-1863344_1920nummer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-involved {
    display: flex;
    align-items: center;
    background-image: url(/optimalisert/Hero/william-bout-264826.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-visit {
    display: flex;
    align-items: center;
    background-image: url(/optimalisert/Hero/scott-webb-102825.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .indexbox,
  .box,
  .boxsmall {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: #003d5ba9;
    width: 30%;
    color: white;
    padding: 30px;
    margin: 200px auto;
  }

  .box,
  .boxsmall {
    margin: 100px auto;
  }

  .indexbox p {
    max-width: 310px;
  }

  .indexbox h1 {
    font-size: 25px;
  }

  #space,
  #science,
  #mammoth,
  #museumpic {
    display: none;
  }

  .exhibitbtn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .btn {
    display: inline;
    background-color: #62c3d9;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 2px;
  }

  .newz {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .cards {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 350px;
    margin: 30px auto;
    background-color: #30638e;
    /* background-color: #264653; */
    color: white;
    padding: 30px;
    box-shadow: 0 0 0 1px #000;
  }

  .exbox,
  .pics {
    width: 70%;
  }

  #news {
    background-color: white;
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .cards img {
    width: 90%;
  }

  .cards p {
    line-height: 25px;
    width: 90%;
  }

  .exhibitions {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    flex-wrap: wrap;
  }

  figure img {
    max-width: 335px;
  }

  figcaption {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  #exhibit {
    display: block;
    font-size: 40px;
    padding: 0px;
  }

  .boxsmall {
    width: 10%;
  }

  .boxsmall h1 {
    padding: 0;
  }

  .box p {
    margin-top: 30px;
    max-width: 100%;
  }

  .sitemap {
    justify-content: center;
  }

  .mapouter,
  .gmap_canvas {
    height: 350px;
    width: 500px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  #line {
    display: block;
    width: 95%;
    margin: 20px auto 10px auto;
    color: lightgrey;
  }
}

@media (min-width: 1000px) {
  header {
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  .navbar,
  .sitemap,
  #smap,
  .hamburger {
    display: none;
  }

  .navbar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .blocks {
    flex-direction: row;
    height: 350px;
  }

  .exbox {
    /* flex-direction: column;
    justify-content: flex-start; */
    width: 550px;
    margin: 0 0 30px 50px;
    height: 245px;
  }

  .exbox p {
    margin-top: 15px;
  }

  .blocks-exhibit p {
    margin-top: 30px;
  }

  .rev {
    display: flex;
    flex-direction: row;
  }

  .pics {
    width: 370px;
    margin: 30px 50px 30px 50px;
  }

  .pics img {
    margin: 0;
  }

  .visitpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mapouter,
  .gmap_canvas {
    height: 350px;
    width: 400px;
  }

  .admis {
    background-color: #365b73;
    /* background-color: #264653; */
    color: white;
  }

  .drink {
    background-color: white;
    color: black;
  }
}

@media (min-width: 1200px) {
  .blocks,
  .blocks-exhibit {
    flex-direction: row;
    height: 450px;
    padding: 0;
  }

  .exbox {
    justify-content: flex-start;
    width: 450px;
    margin-left: 100px;
    height: 340px;
  }

  .exbox p {
    margin-top: 30px;
  }

  .pics {
    width: 530px;
    margin: 30px 100px 30px 50px;
  }

  .pics img {
    margin: 0;
  }
}

@media (max-width: 1360px) {
  .exhibitions {
    width: 700px;
  }

  figure {
    margin-bottom: 30px;
  }

  .newz {
    flex-direction: column;
    align-items: center;
  }

  .cards,
  .blocks {
    padding: 0 0 30px 0;
    width: 100%;
    margin: 0;
    background-color: white;
    color: black;
  }

  .dark {
    background-color: #365b73;
    color: white;
  }
}
